@font-face {
    font-family: FiraGO;
    src: url(FiraGO-Regular.woff);
}

body{
    background: #F5F5F5;

    height: 100vh;
}

.card{
    padding: 35px 108px 90px 109px ;

    background: #FFFFFF;
}

h1{
    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.bb{    
    background: #FAFAFA;
    border: 1px solid #EDEDED;
}

th{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    padding-top: 23px;
    padding-bottom: 21px;
}


td{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.td1{
    padding-top: 17px;
    padding-bottom: 17px;
}

input{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #E8E8E8;

    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;

    
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 15px;

}

thead{
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}

tbody{
    background: #FAFAFA;
    border: 1px solid #EDEDED;

}

table{
    border-collapse: collapse;

}

.head_2{
    display: flex;
    justify-content: space-between;

    width: 1223px;

    margin-top: 64px;

}

#search{
    background: #FFDD04;
    border-radius: 10px;

    padding: 16px 41px 15px 52px;

}

#tdsearch{
    padding-left: 79px;
    padding-right: 39px;
}

#create{

    width: 141px;
    height: 40px;

    background: #FFDD04;
    border-radius: 10px;

    text-align: center;
}

button{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    border-color: transparent;
}

#name2{
    width: 335px;

}
#tdname2{
    padding-left: 25px;
}

#email2{
    width: 222px;
}

#tdemail2{
    padding-left: 47px;
}

#mobile2{
    width: 193px;
}

#tdmobile2{
    padding-left: 50px;
}

.tdnick{
    padding: 22px 106px 22px 25px;
    width: 107px;
}

.tdmonk{
    width: 150px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 43px;
}

.mob{
    width: 143px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 49px;
}

.tddate{
    width: 147px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 49px;
}

.tddate2{
    width: 145px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 59px;
}

.del{
    background: #FF8271;
    border-radius: 10px;

    padding: 7px 22px 7px 22px;
}

.ed{
    background: #FFDD04;
    border-radius: 10px;

    padding: 7px 31px 7px 32px;
}

.tddel{
    padding-right: 6px;
}

.tded{
    padding-right: 8px;
}

tr{
    display: flex;
}

#name1{
    width: 49px;
    padding-left: 25px;
}

#email1{
    width: 49px;
    padding-left: 357px;
}

#mobile1{
    width: 49px;
    padding-left: 273px;
}

#action1{
    width: 49px;
    padding-left: 293px;
}

#name3{
    width: 49px;
    padding-left: 25px;
}

#email3{
    width: 49px;
    padding-left: 164px;
}

#mobile3{
    width: 49px;
    padding-left: 144px;
}

#cr{
    width: 83px;
    padding-left: 143px;
}

#up{
    width: 83px;
    padding-left: 113px;
}

#action3{
    width: 49px;
    padding-left: 191px;
}